*,
*::before,
*::after {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--white-color);
}

:root {
  --primary-dark-blue-intro: #1c2431;
  --primary-dark-blue-bg: #181f2a;
  --footer-bg: #0b1523;
  --testimonials-bg: #202a3c;
  --white-color: #ffffff;
  --call-to-action1: #65e2d9;
  --call-to-action2: #339ecc;
  --error-light-red: #ff4242;
  --headings-font-family: "Raleway", sans-serif;
  --body-font-family: "Open Sans", sans-serif;
  --text-regular-weight: 400;
  --text-bold-weight: 700;
}

.center {
  display: flex;
}

/* Navbar Design  */

.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: var(--primary-dark-blue-intro);
}

.logo__wrapper {
  flex: 1;
}

.logo {
  width: 10rem;
}

.nav__items {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__items .nav__item {
  color: var(--white-color);
  font-size: 1.4rem;
  font-family: var(--headings-font-family);
  font-weight: var(--text-regular-weight);
}

/* ---------------------------------- Intro section design ------------------------ */
.intro__section {
  font-family: var(--headings-font-family);
  background: var(--primary-dark-blue-intro);
}

.intro__wrapper {
  text-align: center;
  z-index: 10;
}

.intro__image {
  width: 85%;
  margin: auto;
  margin-bottom: 2rem;
}

.intro__text {
  padding: 0 5rem;
}

.intro__text--title {
  font-size: 2.5rem;
  line-height: 5rem;
}

.intro__text--description {
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 2rem 0;
}

.intro__img {
  width: 100%;
}

.btn {
  color: var(--white-color);
  display: inline-block;
  width: 60%;
  padding: 1.5rem 0;
  margin: 1.5rem 0;
  font-family: var(--headings-font-family);
  font-weight: var(--text-bold-weight);
  font-size: 1.6rem;
  border-radius: 5rem;
  background: linear-gradient(135deg, #65e2d9, #339ecc);
  border: 0;
}

/* ------------------------------------------ END OF INTRO SECTION AND NAVBAR DESIGN -------------------------------------------------- */
/* ------------------------------------------ FEATURES SECTION STYLE -------------------------------------------------- */
.features__wrapper {
  background: var(--primary-dark-blue-bg);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.feature__card {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}

.feature__card__text {
  margin: 3rem 0;
}

.feature__card__text--title {
  font-size: 1.5rem;
  font-weight: var(--text-bold-weight);
  margin-bottom: 1rem;
  font-family: var(--headings-font-family);
}

.feature__card__text--des {
  font-size: 1.2rem;
  font-family: var(--body-font-family);
}
/* ------------------------------------------ END OF FEATURES SECTION STYLE -------------------------------------------------- */

.productive__section {
  background: var(--primary-dark-blue-bg);
  padding: 2rem;
}

.productive__image {
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

.productive__img {
  width: 100%;
}

.productive__text--title {
  font-size: 1.8rem;
  font-family: var(--headings-font-family);
  margin: 2rem 0;
}

.productive__text--des {
  font-size: 1.2rem;
  font-family: var(--body-font-family);
  font-weight: var(--text-regular-weight);
  margin: 2rem 0;
}

.productive__links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem 0;
}

.productive__links::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: var(--call-to-action1);
  position: absolute;
  bottom: 0;
  left: 0;
  /* margin: 2rem 0; */
}

.productive__link {
  color: var(--call-to-action1);
  font-size: 1rem;
  font-family: var(--headings-font-family);
}

.productive__link__icon {
  width: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.productive__link:active {
  color: var(--white-color);
}

.productive__links:hover .productive__link {
  color: var(--white-color);
}

.productive__links:hover .productive__link__icon {
  color: var(--white-color);
}

.productive__links:hover.productive__links::after {
  background: var(--white-color);
}

/* ------------------------- TESTIMONIAL SECTION ---------------------------- */
.testimonial__section {
  background: var(--primary-dark-blue-bg);
}

.testimonial__wrapper {
  padding: 20rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.testimonial {
  background: var(--testimonials-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  min-height: 25rem;
}

.testimonial--text {
  font-family: var(--body-font-family);
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.testimonial__user {
  display: flex;
  align-items: center;
}

.testimonial__user__image {
  margin-right: 1rem;
}

.testimonial__user--img {
  width: 3rem;
  border-radius: 100%;
}

.testimonial__user__info--name {
  font-size: 1.2rem;
  font-family: var(--headings-font-family);
  font-weight: var(--text-bold-weight);
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.testimonial__user__info--role {
  font-size: 0.8rem;
  font-family: var(--body-font-family);
}

/* - ACCESS FOR BOX STYLE - */
.form__section {
  padding: 0 2rem;
  background: var(--primary-dark-blue-bg);
  position: relative;
  min-height: 30rem;
}

.main__form__wrapper {
  background: var(--testimonials-bg);
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 0.8rem;
  padding: 0 3rem 5rem;
  position: absolute;
  bottom: -70%;
  left: 0;
}

.form__title {
  font-size: 2rem;
  font-family: var(--headings-font-family);
  margin: 5rem 0 2rem;
}

.form__des {
  font-size: 1.2rem;
  line-height: 3rem;
  font-family: var(--body-font-family);
  margin-bottom: 3rem;
}

.form__wrapper {
  width: 90%;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.email__input {
  width: 100%;
  padding: 1.5rem 3rem;
  border-radius: 12rem;
  outline: none;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.btn__submit {
  width: 100%;
  cursor: pointer;
  margin: 0;
  font-size: 1.4rem;
}

/* ---------------------- FOOTER STYLE STARTS ------------------------------*/
.footer__section {
  background: var(--primary-dark-blue-bg);
  padding: 20rem 0 1rem;
}

.footer__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.footer__header {
  width: 80%;
  margin: 5rem auto 1rem;
}

.footer__logo {
  width: 50%;
}

.location__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 1.5rem 0;
}

.location__icon {
  width: 5rem;
}

.location__address {
  font-size: 1.5rem;
  font-family: var(--body-font-family);
  line-height: 2.5rem;
}

.contact__wrapper {
  margin-bottom: 7rem;
}

.contact {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
}

.contact__icon {
  margin-right: 2rem;
  width: 2rem;
}

.contact__number {
  flex: 5;
  font-size: 1.5rem;
}

.links {
  margin: 3rem 0;
}

.links > li {
  list-style: none;
  font-size: 1.5rem;
  font-family: var(--headings-font-family);
  margin: 2rem 0;
}

.socials {
  text-align: center;
}

.social__icons {
  width: 3rem;
  margin: 0 0.5rem;
}

/* *************** RESPONSIVE DESIGN ********************* */
@media screen and (min-width: 770px) {
  .logo {
    width: 13rem;
  }
  .intro__btn {
    width: 40%;
  }
  .nav__items .nav__item {
    font-size: 2rem;
  }
  .intro__img {
    width: 70%;
  }
  .features__wrapper {
    flex-wrap: wrap;
  }
  .productive__text--title {
    font-size: 3rem;
  }
  .productive__text--des {
    font-size: 2rem;
  }
  .productive__link {
    font-size: 2rem;
  }
  .productive__link__icon {
    width: 3rem;
  }
  .testimonial--text {
    font-size: 1.8rem;
  }
  .testimonial__user--img {
    width: 5rem;
  }
  .testimonial__user__info--name {
    font-size: 1.8rem;
  }
  .testimonial__user__info--role {
    font-size: 1.6rem;
  }
  .form__title {
    font-size: 3rem;
  }
  .form__des {
    font-size: 1.8rem;
  }
  .btn__submit {
    font-size: 2rem;
  }
  .footer__logo {
    width: 40%;
  }
  .location__address,
  .contact__number {
    font-size: 2rem;
  }
  .contact__icon {
    width: 2.2rem;
  }
  .links > li {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .nav__items {
    justify-content: flex-end;
  }
  .nav__item {
    margin-left: 2rem;
  }
  .intro__btn {
    max-width: 30%;
    font-size: 1.8rem;
  }
  .features__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 5rem;
    padding: 5rem 7rem;
  }
  .feature__card {
    width: 80%;
    margin: 0;
  }
  .feature__card__text--title {
    font-size: 1.8rem;
  }
  .feature__card__text--des {
    font-size: 1.5rem;
  }
  .productive__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .testimonial__wrapper {
    flex-direction: row;
  }
  .footer__logo {
    width: 20%;
  }
  .footer__details {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 0;
  }
  .location__wrapper {
    flex: 1.5;
  }
  .location__address {
    font-size: 1.5rem;
  }
  .footer__links,
  .socials,
  .contact__wrapper {
    flex: 1;
    margin: 0;
  }
  .contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact {
    width: 80%;
    margin-bottom: 1rem;
  }
  .footer__links {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }
  .footer__details {
    padding: 0;
    width: 80%;
    margin: auto;
  }
  .links {
    margin: 0;
  }
  .links > li:first-child {
    margin: 0;
  }
  .links > li {
    font-size: 1.7rem;
  }
  .social__icons {
    width: 3.2rem;
  }
  .main__form__wrapper {
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
  }
}
