*,
*::before,
*::after {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--white-color);
}

:root {
  --primary-dark-blue-intro: #1c2431;
  --primary-dark-blue-bg: #181f2a;
  --footer-bg: #0b1523;
  --testimonials-bg: #202a3c;
  --white-color: #ffffff;
  --call-to-action1: #65e2d9;
  --call-to-action2: #339ecc;
  --error-light-red: #ff4242;
  --headings-font-family: "Raleway", sans-serif;
  --body-font-family: "Open Sans", sans-serif;
  --text-regular-weight: 400;
  --text-bold-weight: 700;
}

.center {
  display: flex;
}

/* Navbar Design  */

.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: var(--primary-dark-blue-intro);
}

.logo__wrapper {
  flex: 1;
}

.logo {
  width: 13rem;
}

.nav__items {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__items .nav__item {
  color: var(--white-color);
  font-size: 2rem;
  font-family: var(--headings-font-family);
  font-weight: var(--text-regular-weight);
}

/* ---------------------------------- Intro section design ------------------------ */
.intro__section {
  font-family: var(--headings-font-family);
  background: var(--primary-dark-blue-intro);
}

.intro__wrapper {
  text-align: center;
  z-index: 10;
}

.intro__image {
  width: 85%;
  margin: auto;
  margin-bottom: 2rem;
}

.intro__text {
  padding: 0 5rem;
}

.intro__text--title {
  font-size: 3.5rem;
  line-height: 5rem;
}

.intro__text--description {
  font-size: 2rem;
  line-height: 3rem;
  margin: 2rem 0;
}

.intro__img {
  width: 100%;
}

.btn {
  color: var(--white-color);
  display: inline-block;
  width: 60%;
  padding: 2rem 0;
  margin: 1.5rem 0;
  font-family: var(--headings-font-family);
  font-weight: var(--text-bold-weight);
  font-size: 1.8rem;
  border-radius: 5rem;
  background: linear-gradient(135deg, #65e2d9, #339ecc);
  border: 0;
}

/* ------------------------------------------ END OF INTRO SECTION AND NAVBAR DESIGN -------------------------------------------------- */
/* ------------------------------------------ FEATURES SECTION STYLE -------------------------------------------------- */
.features__wrapper {
  background: var(--primary-dark-blue-bg);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.feature__card {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}

.feature__card__text {
  margin: 3rem 0;
}

.feature__card__text--title {
  font-size: 2rem;
  font-weight: var(--text-bold-weight);
  margin-bottom: 1rem;
  font-family: var(--headings-font-family);
}

.feature__card__text--des {
  font-size: 1.5rem;
  font-family: var(--body-font-family);
}
/* ------------------------------------------ END OF FEATURES SECTION STYLE -------------------------------------------------- */

.productive__section {
  background: var(--primary-dark-blue-bg);
  padding: 2rem;
}

.productive__image {
  width: 90%;
  margin: auto;
  margin-bottom: 2rem;
}

.productive__img {
  width: 100%;
}

.productive__text--title {
  font-size: 2.5rem;
  font-family: var(--headings-font-family);
  margin: 2rem 0;
}

.productive__text--des {
  font-size: 1.8rem;
  font-family: var(--body-font-family);
  font-weight: var(--text-regular-weight);
  margin: 2rem 0;
}

.productive__links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem 0;
}

.productive__links::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1px;
  background: var(--call-to-action1);
  position: absolute;
  bottom: 0;
  left: 0;
  /* margin: 2rem 0; */
}

.productive__link {
  color: var(--call-to-action1);
  font-size: 1.7rem;
  font-family: var(--headings-font-family);
}

.productive__link__icon {
  width: 20px;
  vertical-align: middle;
  cursor: pointer;
}

.productive__link:active {
  color: var(--white-color);
}

.productive__links:hover .productive__link {
  color: var(--white-color);
}

.productive__links:hover .productive__link__icon {
  color: var(--white-color);
}

.productive__links:hover.productive__links::after {
  background: var(--white-color);
}

/* ------------------------- TESTIMONIAL SECTION ---------------------------- */
.testimonial__section {
  background: var(--primary-dark-blue-bg);
}

.testimonial__wrapper {
  padding: 20rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.testimonial {
  background: var(--testimonials-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  min-height: 22rem;
}

.testimonial--text {
  font-family: var(--body-font-family);
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.testimonial__user {
  display: flex;
  align-items: center;
}

.testimonial__user__image {
  margin-right: 1rem;
}

.testimonial__user--img {
  width: 4rem;
  border-radius: 100%;
}

.testimonial__user__info--name {
  font-size: 1.4rem;
  font-family: var(--headings-font-family);
  font-weight: var(--text-bold-weight);
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.testimonial__user__info--role {
  font-size: 1rem;
  font-family: var(--body-font-family);
}

/* ------------------- ACCESS FOR BOX STYLE -------------------------- */
.form__section {
  background: var(--primary-dark-blue-bg);
  padding: 0 2rem;
}

.main__form__wrapper {
  background: var(--testimonials-bg);
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 0.8rem;
  padding: 0 3rem 5rem;
}

.form__title {
  font-size: 2.5rem;
  font-family: var(--headings-font-family);
  margin: 5rem 0 2rem;
}

.form__des {
  font-size: 1.7rem;
  line-height: 3rem;
  font-family: var(--body-font-family);
  margin-bottom: 3rem;
}

.form__wrapper {
  width: 90%;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.email__input {
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 12rem;
  outline: none;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.btn__submit {
  width: 100%;
  cursor: pointer;
  margin: 0;
}
